// Variables

//$brand-primary: #7bcdca;
$brand-danger: #e74c3c;
$gray-darkest: #222;
$gray: #777;
$gray-lighter: #f7f7f7;
$placeholder-text: #bbbbbb;


$bg-color: #daf1ef;


$brand-light-0: #edf8f8;
$brand-light-1: #daf1f1;
$brand-light-2: #c8eaea;
$brand-light-3: #b5e3e1;
$brand-light-4: #a3dcda;


$brand-dark-0: #071212;
$brand-dark-1: #0e2524;
$brand-dark-2: #153736;
$brand-dark-3: #1c4a48;
$brand-dark-4: #235c5b;
$brand-dark-5: #2a6f6d;
