

<!-- -->

<div class="container">
    <div class="section">
        <div class="row">
            <div class="col s12 m6 push-m3">
                <!--start card-->
                <div class="card">
                    <!-- top of contact card -->
                    <div class="img-section center-align">
                        <img class="circle responsive-img contact-img" src="img/NatassjaContact.jpg">
                    </div>
                    <!-- middle of contact card -->
                    <div class="card-section teal lighten-5">
                        Natassja Neumann

                    </div>

                    <div class="card-section teal lighten-5">
                        Hair Stylist at <a href="">Cajah Salon</a>
                    </div>

                      <ul class="collapsible teal" data-collapsible="accordion">
                          <li>
                            <div class="collapsible-header teal lighten-4"><i class="material-icons blue-grey-text text-darken-4">perm_identity</i>About</div>
                            <div class="collapsible-body teal lighten-5"><p>Natassja Neumann remembers the moment she first wanted to do hair at 5-years-old; so in 2007, she decided to grow her talent and skills by attending the Aveda Institute in Minneapolis. While she loves coloring and cutting, equally, to customize a look for her client, she believes styling is the most important part. Natassja makes sure to teach each and every one of her clients, during their appointments, how to duplicate their look at home. She considers styling and special occasion/wedding updos her biggest passion and specialty.</p></div>
                          </li>
                          <li>
                            <div class="collapsible-header teal lighten-4"><i class="material-icons blue-grey-text text-darken-4">contact_phone</i>Contact Info</div>
                            <div class="collapsible-body teal lighten-5"><p>Lorem ipsum dolor sit amet.</p></div>
                          </li>
                          <li>
                            <div class="collapsible-header teal lighten-4"><i class="material-icons blue-grey-text text-darken-4">location_on</i>Location</div>
                            <div class="collapsible-body teal lighten-5"><p>Lorem ipsum dolor sit amet.</p></div>
                          </li>
                        </ul>

                    <div class="card-bottom center-align teal lighten-3">
                        <ul class="list-inline">

                            <li>
                                <a class="btn-floating btn waves-effect waves-light blue-grey darken-2"> <i class="fa fa-facebook"></i></a>
                            </li>

                            <li>
                                <a class="btn-floating btn waves-effect waves-light blue-grey darken-2 activator"> <i class="fa fa-instagram"></i></a>
                            </li>

                            <li>
                                <a class="btn-floating btn waves-effect waves-light blue-grey darken-2 modal-trigger" href="#modal2"> <i class="fa fa-envelope"></i></a>
                            </li>
                        </ul>

                    </div>
                </div><!--end card-->

            </div>
        </div>
    </div>
</div>
<!-- end about.html -->
