<!-- start about.html -->
<div class="container">
    <div class="section">
        <div class="row">
            <div class="col s12 m6 push-m3">
                <div class="my-card">
                    <!-- top of contact card -->
                    <div class="img-section center-align">
                        <img class="circle responsive-img contact-img" src="img/NatassjaContact.jpg">
                    </div>
                    <!-- middle of contact card -->
                    <div class="card-section teal lighten-5">
                        Natassja Neumann
                    </div>
                    <div class="card-section">
                        Hair Stylist at <a href="">Cajah Salon</a>
                    </div>
                    <div class="card-bottom center-align">
                        <ul class="list-inline">

                            <li>
                                <a class="btn-floating btn waves-effect waves-light blue-grey darken-2"> <i class="fa fa-facebook"></i></a>
                            </li>

                            <li>
                                <a class="btn-floating btn waves-effect waves-light blue-grey darken-2 activator"> <i class="fa fa-instagram"></i></a>
                            </li>

                            <li>
                                <a class="btn-floating btn waves-effect waves-light blue-grey darken-2 modal-trigger" href="#modal2"> <i class="fa fa-envelope"></i></a>
                            </li>
                        </ul>
                        <div class="card-reveal">
                            <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
                            <p>Here is some more information about this product that is only revealed once clicked on.</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<!-- start about.html -->
