<!--gallery.html-->

<div class="section gallery">
  <div class="container">

    <!--gallery header-->
    <div class="row">
      <div class="center-align script-font">
        <h1>Modal Header</h1>
      </div>
    </div>

    <div class="row">
      <!--image 1-->
      <div class="col m4">
        <a class="modal-trigger" href="#modal1">
          <div class="gallery-card teal lighten-2">
            <img class="responsive-img" src="img/gallery/img_01.jpg" alt="">
            <div class="card-bottom center-align">All Over Reds</div>
          </div>
        </a>
      </div>
      <!--image 1-->
      <div class="col m4">
        <a class="modal-trigger" href="#modal1">
          <div class="gallery-card teal light-3">
            <img class="responsive-img" src="img/gallery/img_01.jpg" alt="">
            <div class="card-bottom center-align">All Over Reds</div>
          </div>
        </a>
      </div>
      <!--image 1-->
      <div class="col m4">
        <a class="modal-trigger" href="#modal1">
          <div class="gallery-card teal light-3">
            <img class="responsive-img" src="img/gallery/img_01.jpg" alt="">
            <div class="card-bottom center-align">All Over Reds</div>
          </div>
        </a>
      </div>

    </div>
  </div>
</div>
<!--end gallery-->


<!-- Gallery Modal -->
<div id="modal1" class="gallery-modal teal lighten-4">
  <!--headline-->
  <div class="center-align">
    <h4>Modal Header</h4>
  </div>

  <!-- first row of images -->
  <div class="row">
    <div class="col s12 m4">
      <img class="responsive-img" src="img/gallery/img_01.jpg" alt="">
    </div>
    <div class="col s12 m4">
      <img class="responsive-img" src="img/gallery/img_01.jpg" alt="">
    </div>
    <div class="col s12 m4">
      <img class="responsive-img" src="img/gallery/img_01.jpg" alt="">
    </div>
  </div>
    <!-- end first row of images -->

    <div class="modal-footer">
      <a href="#!" class="blue-grey modal-action modal-close waves-effect waves-green btn-flat">Close</a>
    </div>

</div>
<!-- Gallery Modal End-->
<!--end gallery.html-->
