<!--gallery.html-->

<div class="section gallery">
    <div class="container">

        <!--gallery header-->
        <div class="row">
            <div class="center-align script-font">
                <h1>The Gallery</h1>
            </div>
        </div>

        <!-- first row of images-->
        <div class="row">
            <!--image 1-->
            <div class="col m4">
                <a class="modal-trigger" href="#modal1">
                    <div class="gallery-card">
                        <img class="responsive-img" src="img/gallery/img_01.jpg" alt="">
                        <div class="card-bottom center-align">All Over Reds</div>
                    </div>
                </a>
            </div>
            <!--image 1-->
            <div class="col m4">
                <a class="modal-trigger" href="#modal1">
                    <div class="gallery-card">
                        <img class="responsive-img" src="img/gallery/img_01.jpg" alt="">
                        <div class="card-bottom center-align">All Over Reds</div>
                    </div>
                </a>
            </div>
            <!--image 1-->
            <div class="col m4">
                <a class="modal-trigger" href="#modal1">
                    <div class="gallery-card teal light-3">
                        <img class="responsive-img" src="img/gallery/img_01.jpg" alt="">
                        <div class="card-bottom center-align">All Over Reds</div>
                    </div>
                </a>
            </div>
        </div>
        <!--end of first row of images-->

        <!-- first row of images-->
        <div class="row">
            <!--image 1-->
            <div class="col m4">
                <a class="modal-trigger" href="#modal1">
                    <div class="gallery-card">
                        <img class="responsive-img" src="img/gallery/img_01.jpg" alt="">
                        <div class="card-bottom center-align">All Over Reds</div>
                    </div>
                </a>
            </div>
            <!--image 1-->
            <div class="col m4">
                <a class="modal-trigger" href="#modal1">
                    <div class="gallery-card">
                        <img class="responsive-img" src="img/gallery/img_01.jpg" alt="">
                        <div class="card-bottom center-align">All Over Reds</div>
                    </div>
                </a>
            </div>
            <!--image 1-->
            <div class="col m4">
                <a class="modal-trigger" href="#modal1">
                    <div class="gallery-card teal light-3">
                        <img class="responsive-img" src="img/gallery/img_01.jpg" alt="">
                        <div class="card-bottom center-align">All Over Reds</div>
                    </div>
                </a>
            </div>
        </div>
        <!--end of first row of images-->

    </div>
</div>
<!--end gallery-->


<!-- Gallery Modal -->
<div id="modal1" class="gallery-modal">
    <!--headline-->
    <div class="row">
        <div class="col s12 m4 l2"> </div>
        <div class="col s12 m4 l8">
            <h2 class="center-align">Modal Header</h2></div>
        <div class="col s12 m4 l2">
          <a href="#!" class="modal-action modal-close black-text">
            <i class="fa fa-times fa-3x right" aria-hidden="true"></i>
          </a>

        </div>
    </div>
    <!--end headline-->

    <div class="modal-content">
        <!-- first row of images -->
        <div class="row">
            <div class="col s12 m4">
                <img class="responsive-img" src="img/gallery/img_01.jpg" alt="">
            </div>
            <div class="col s12 m4">
                <img class="responsive-img" src="img/gallery/img_01.jpg" alt="">
            </div>
            <div class="col s12 m4">
                <img class="responsive-img" src="img/gallery/img_01.jpg" alt="">
            </div>
        </div>
        <!-- end first row of images -->

        <!-- second row of images -->
        <div class="row">
            <div class="col s12 m4">
                <img class="responsive-img" src="img/gallery/img_01.jpg" alt="">
            </div>
            <div class="col s12 m4">
                <img class="responsive-img" src="img/gallery/img_01.jpg" alt="">
            </div>
            <div class="col s12 m4">
                <img class="responsive-img" src="img/gallery/img_01.jpg" alt="">
            </div>
        </div>
        <!-- end second row of images -->
    </div>


</div>
<!-- Gallery Modal End-->
<!--end gallery.html-->
